<h1>PairBNB</h1>
<p>Find me in app/views/welcome/index.html.erb</p>



<% if signed_in? %>
	<h3>Welcome <%= current_user.name %>!</h3>
	<h4>Explore the World with PairBNB!</h4>
<% else %>
	<h3>Ready to explore?</h3>
	<%= link_to "Log in", sign_in_path %>
	<h5> OR </h5>
	<%= link_to "Sign in with Facebook", "/auth/facebook" %>

	<h3>Haven't signed up?</h3>
	<%= link_to "Create A New User", sign_up_path %>
<% end %>