<h1>PairBNB</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h3>Ready to explore?</h3>
<%= link_to "Log in", "#" %>
<h5> OR </h5>
<%= link_to "Sign in with Facebook", "/auth/facebook" %>

<h3>Haven't signed up?</h3>
<%= link_to "Create A New User", "#" %>